pyarrow
# pandas[performance, parquet, aws]
pendulum
lightning
python-dotenv
librosa
pyaudio
pydub
soundfile
scikit-learn
pandas
numpy==1.26.4 	# Needs numpy<2.0.0 for ASR CTCDecoder dependency 
comet-ml
# sox
flask
fastapi
uvicorn
